$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-hearth: #cd97e5;
$main-color:#F3F3F3;

.pointer{
    cursor: pointer;
}

@mixin gradian {
    background: rgb(9,9,121);
    background: linear-gradient(-7deg, rgba(147,85,221,1) 20%, rgba(255,121,218,1) 80%);
}

@mixin gradian-hover {
    background: linear-gradient(-7deg,rgba(147,85,221,0.9) 20%, rgba(255,121,218,0.9) 80%);
}

@mixin underline {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    
}

@mixin underline-after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 1px;
    bottom: -3px;
    left: 0%;
    border-bottom: 2px solid $color-tertiary;
}

.delay{
    animation: test 1s ease-out;
    animation-delay: 0s;
    
  }

  .delay2{
    animation: test 1.3s ease-in-out;
    
    
  }
.delay3{
    animation: test 1.6s ease-in-out;
}

@keyframes test{
    from{
        opacity: 0;
        transform: translateY(-100px);
        
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        
    }
}